body {
    font-family: 'Happy Monkey', cursive;
    text-align: center;
    color: white;
    background: linear-gradient(rgb(27, 104, 104), rgb(1, 54, 78));
}

#img {
    width: 250px;
    border:5px solid rgb(1, 54, 78);    
    border-radius: 50%;
    margin: 25px 0;
    
}

h1, h2, h4 {
    text-shadow: 0px 0px 1px black;
}

#bday-age {
    background: rgb(1, 54, 78);
    padding: 2px 12px 2px 12px;
    border: none;
    border-radius: 8px;
    margin: 10px 0 10px 0;
}

#bday-date {
    margin: 10px;
    background: rgb(1, 54, 78);
    padding: 2px 8px 2px 8px;
    border: none;
    border-radius: 8px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 70px;
}

.gift-section {
    margin-top: 150px;
}

.gift-img {
    width: 600px;
    height: 500px;
    border: 4px solid blueviolet;
    border-radius: 10px;
    width: 500px;
    background-image: url("giftcover.png");
    background-size: cover;
    margin: 0px auto;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 10px;
}

#gift-img-cheers {
    height: 200px;
}

#gift-img-happy:hover {
    background-image: url("happy.gif");
}

#gift-img-hot:hover {
    background-image: url("hot.gif");
}

#gift-img-genius:hover {
    background-image: url("genius.gif");
}

#gift-img-badass:hover {
    background-image: url("badass.gif");
}

#gift-img-cheers:hover {
    background-image: url("cheers.gif");
}

#footer {
    font-style: italic;
    width: 500px;
    margin: 120px auto 20px;
}

.footer-link {
    color: white;
}
